<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/head-of-head.ejs'); %>
</head>
<body>
    <!-- /#mastheaed -->
    <%- include('./layout/head.ejs'); %>
    <%- include('./layout/section1.ejs'); %>
    <main id="main" class="site-main">      
        <%- include('./layout/section2.ejs'); %>
        <!-- /.section-features -->
        <%- include('./layout/service.section.ejs'); %>
        <!-- /.section-services -->
        <section class="site-section section-map-feature text-center">
            <%- include('./layout/maps.feature.ejs'); %>            
        </section>
        <%- include('./layout/portofoilo.ejs'); %>

        <!-- /.section-portfolio -->
        <section class="site-section section-newsletter text-center">
            <%- include('./layout/newsletters.ejs'); %>
        </section><!-- /.section-newsletter -->
    </main><!-- /#main -->
    <%- include('./layout/footer.ejs'); %>
    <%- include('./layout/js.ejs'); %>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  
</body>
</html>